@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0f0f0f;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #e6e6e6;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sanse), system-ui, sans-serif;
  font-size: 18px;
  line-hight: 1.6;
}

html {
  scroll-behavior: smooth;
}
a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
}
